/* ***************Global************* */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.dp {
    display: flex;
}

.d-none {
    display: none;
}

.nav-link {
    color: black !important;
    opacity: 0.5;
}

.active {
    opacity: 1 !important;
}

.pokemonCard {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    border-radius: 3rem;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.4);
    transition: 125ms;
}

.pokemonCard:hover {
    transform: scale(1.05);
}

#overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  

.init-container {
    background-image: url(/img/pikabg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* ***************Actual Pokemon Box************* */

#pokedex {
    min-width: 350px;
    min-height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
}

.back-arrow {
    height: 40px;
    width: 40px;
    filter: invert();
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: none;
}

.pokemonName {
    margin-top: 80px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 700;
    width: max-content;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.6);
}

.pokemonType {
    margin-right: 8px;
    padding: 4px 28px;
    width: fit-content;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.2);
    margin-block-start: 0em;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.6);
}

.name-type {
    margin-left: 30px;
    display: flex;

}

.pokemon-id {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: -webkit-fill-available;
    padding-right: 30px;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.6);
}

.pokemonImage {
    height: 300px;
    aspect-ratio: 1 / 1;
    margin-top: -230px;
    margin-left: 25px;
    margin-right: auto;
    z-index: 1;
}

/* ***************Info-Container************* */
#infoContainer {
    background-color: white;
    min-height: 420px;
    margin-top: -100px;
    border-radius: 3rem;
    min-width: 350px;
}

#pokemonInformation {
    margin-left: 10px;
}


.nav-item {
    cursor: pointer;
    font-weight: 700;
}

.disabled {
    opacity: 0.7;
}

.list-group li {
    border: none;
}

h5 {
    padding-left: 14px;
    padding-top: 20px;
    padding-bottom: 5px;
}

/* Pokemon-Information List */

.pokemonInformation-About {
    padding-left: 30px;
}

.pokemonInformation-Basestats {
    padding-left: 30px;
}

.pokemonInformation-About li {
    font-weight: 600;
}

.pokemonInformation-Basestats li {
    font-weight: 600;
}

.pokemonInformation-About ul:first-child {
    padding-top: 10px;
}

.pokemonInformation-Basestats ul:first-child {
    padding-top: 10px;
}

.pokemonInformation-About li:first-child {
    font-weight: 600;
    width: 8rem;
}

.pokemonInformation-Basestats li:first-child {
    font-weight: 600;
    width: 8rem;
}

/* background coloring area */

.grass {
    background-color: #A7D490;
}

.fire {
    background-color: #FB6C6C;
}

.water {
    background-color: #83CCE8;
}

.bug {
    background-color: #afb961;
}

.normal {
    background-color: #AAAA99;
}

.poison {
    background-color: #AF80AF;
}

.electric {
    background-color: #ffd146;
}

.ground {
    background-color: #E0C068;
}

.fairy {
    background-color: #f8c1fd;
}

.fighting {
    background-color: #BB5544;
}

.psychic {
    background-color: #FF5599;
}

.rock {
    background-color: #BBAA66;
}

.ghost {
    background-color: #6666BB;
}

.ice {
    background-color: #c3e2f1;
}

.dragon {
    background-color: #7766EE;
}

