/* ***************Global************* */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.dp {
    display: flex;
}

/* ***************Actual Pokemon Box************* */

#pokedex {
    min-height: 50vh;
    background-color: #FB6C6C;
    color: white;
    display: flex;
    flex-direction: column;
}

.back-arrow {
    height: 40px;
    width: 40px;
    filter: invert();
    margin-top: 60px;
    margin-left: 30px;
}

#pokemonName {
    margin-left: 30px;
    font-size: 40px;
}

#pokemonType {
    margin-left: 30px;
    padding: 8px 30px;
    width: fit-content;
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    margin-block-start: 0em;
}

#pokemonImage {
    height: 300px;
    aspect-ratio: 1 / 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 17rem;
    left: 0;
    right: 0;
}
/* ***************Info-Container************* */
#infoContainer {
    background-color: white;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    min-height: 500px;
    margin-top: -50px;
}


.pokemon-id {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: -webkit-fill-available;
    padding-right: 30px;
    font-weight: 700;
}

.nav {
    padding-top: 50px;
}
